{% extends 'base.html' %}

{% block content %}
<section class="container mt-4">
    <div class="row">
        <div class="col text-center">
            <h1>Preliminary price estimate</h1>
            <p> {{ price }} </p>

            <!-- Кнопка Закрыть, перенаправляющая на главную страницу -->
            <a href="https://vm4944079.25ssd.had.wf/" style="text-decoration: none;">
                <input type="submit" value="Close">
            </a>
        </div>
    </div>
</section>
{% endblock %}