{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <h1>Форма для запроса Коммерческого Предложения</h1>

<!--    <form action="" method="post" name="loc_1" hx-get="{% url 'get_addresses' %}" hx-trigger="change from:#id_loc_1" hx-target="#address-select">-->
<!--        <form action="" method="post">-->
        {% csrf_token %}
        {{ form.city_a.label_tag }}
        {% render_field form.city_a class="custom-select mb-4" autocomplete="off" hx-get="/get_addresses/" hx-target="#id_address_a" %}

        <br>
        {{ form.city_b.label_tag }}
        {% render_field form.city_b class="custom-select mb-4" autocomplete="off" %}


        <br>
        {{ form.address_a.label_tag }}
        {% render_field form.address_a class="custom-select mb-4" autocomplete="off" %}

{% endblock %}


